{% extends 'password/base.html' %}

{% block content %}
    <div class="form__container">
        <form method="POST">
            {% csrf_token %}
            <h3 class="form__title">Login</h3>
            <span class="field">
                <label for="name">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </span>
            <san class="field">
                <label for="password1">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
                <small class="mt-2"><a href="{% url 'password_reset' %}">Forgot Password ?</a></small>
            </san>
            <fieldset class="form__submit">
                <button class="button__form" type="submit">
                    <div class="button__bg"></div>
                    <span>Login</span>
                </button>
            </fieldset>
            <fieldset class="form__footer">
                <small>Doesn't have an account ? <a href="{% url 'register' %}" class="link">Sign Up</a></small>
            </fieldset>
        </form>
    </div>
{% endblock content %}