{% extends 'password/base.html' %}

{% block content %}
    <div class="form__container">
        <form method="POST">
            {% csrf_token %}
            <h3 class="form__title">Login</h3>
            <fieldset class="field">
                <label for="name">Name</label>
                {{ form.username }}
                {{ form.username.errors }}
            </fieldset>
            <fieldset class="field">
                <label for="password1">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </fieldset>
            <fieldset class="form__submit">
                <button class="button__form" type="submit">
                    <div class="button__bg"></div>
                    <span>Login</span>
                </button>
            </fieldset>
            <fieldset>
                <small>Doesn't have an account ? <a href="{% url 'register' %}" class="link">Sign Up</a></small>
            </fieldset>
        </form>
    </div>
{% endblock content %}