{% extends 'password/base.html' %}

{% block content %}
    <div class="form__container">
        <form method="POST">
            {% csrf_token %}
            <h3 class="form__title">Reset Password</h3>
            <span class="field">
                <label for="name">Email</label>
                {{ form.email }}
                {{ form.username.errors }}
            </span>
            <fieldset class="form__submit">
                <button class="button__form" type="submit">
                    <div class="button__bg"></div>
                    <span>Request Password Reset</span>
                </button>
            </fieldset>
        </form>
    </div>
{% endblock content %}