.form__container {
  width: 100%;
  height: 90vh;
  padding: 20px $padding-vertical;

  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 40%;
  padding: 20px 60px;
  background: $color-jet;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: $color-timberwolf;
  text-transform: uppercase;
}

.field {
  width: 100%;
  margin-bottom: 20px;
  position: relative;

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 100%;
    padding: 1rem 2rem;

    outline: none;
    background: $color-jet;
    border: 1px solid $color-erie-black;
    border-radius: 5px;

    color: $color-maize-crayola;
    font-size: 16px;

    transition: border 0.3s;

    &:hover {
      border: 1px solid #f3db97;
    }

    &:focus {
      border: 1px solid $color-maize-crayola;

      &:invalid {
        border: 1px solid #f25c54;
      }
    }
  }

  input[type=file] {
    width: 100%;
    padding: 1rem 2rem;

    border: 1px solid $color-erie-black;
    border-radius: 5px;
    cursor: pointer;

    color: $color-erie-black;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

    transition: border 0.3s;

    &::-webkit-file-upload-button {
      visibility: hidden;
      display: none;
    }

    &:hover {
      border: 1px solid #f3db97;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 2rem;
    padding: 0 8px;

    color: $color-erie-black;
    font-weight: 200;
    background: $color-jet;
    border-radius: 99px;

    transform: translate(0, -50%);
    transition: color 0.3s;
  }

  &:hover label {
    color: #f3db97;
  }
}

.form__submit {
  margin: 10px 0;
  padding: 20px 0;
  position: relative;

  display: flex;
  justify-content: center;

  &::before {
    width: 80%;
    height: 1px;
    top: 0;
    position: absolute;
    content: "";
    background: $color-erie-black;
  }

  &::after {
    width: 80%;
    height: 1px;
    bottom: 0;
    position: absolute;
    content: "";
    background: $color-erie-black;
  }
}

small {
  display: block;
  text-align: center;
  color: $color-erie-black;
  font-size: 14px;
}

// Error Messages
.errorlist {
  margin-top: 10px;
  color: #f25c54;
  font-size: 14px;
  font-weight: 300;
}