// Variable
$color-white: #FFFFFF;
$color-alabaster: #E8EDDF;
$color-timberwolf: #CFDBD5;
$color-maize-crayola: #F5CB5C;
$color-jet: #333533;
$color-erie-black: #242423;

$padding-vertical: 14%;


// Main Style
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: $color-erie-black;
}

//*:focus {
//    outline: 1px solid $color-maize-crayola;
//    outline-offset: 2px;
//}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: rgba(232, 237, 223, 0.8);
    font-weight: 200;
}

.container {
    height: auto;
    position: relative;
    padding: 0 $padding-vertical;
}

// Button
%button {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;

    pointer-events: auto;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background: none;
    border-radius: 5px;

    .button__bg {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        overflow: hidden;
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);

        &::before,
        &::after {
            content: '';
            position: absolute;
        }
        &::before {
            width: 110%;
            height: 0;
            padding-bottom: 110%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
        }
        &::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
    &:hover .button__bg::before {
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	    transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }
    &:hover .button__bg::after {
        opacity: 1;
        transition-duration: 0.01s;
        transition-delay: 0.3s;
    }

    span {
        position: relative;
        padding: 0.8rem 2rem;

        display: flex;
        align-items: center;

        text-align: center;

        transition: color 0.3s;
    }

    i { margin-left: 10px; }
}

.button__primary {
    @extend %button;
    color: $color-timberwolf;
    border: 1px solid $color-jet;

    .button__bg {
        background: transparent;
        &::after,
        &::before {
            background: $color-jet;
        }
    }

    &:hover span { color: $color-maize-crayola}
}

.button__form {
    @extend %button;
    width: 100%;
    color: $color-erie-black;
    border: 1px solid $color-erie-black;

    .button__bg {
        background: transparent;
        &::after,
        &::before {
            background: $color-erie-black;
        }
    }

    span {
        display: inline-block;
    }

    &:hover span { color: $color-maize-crayola}
}

.button__small {
    @extend %button;
    color: $color-timberwolf;
    border: 1px solid $color-jet;

    .button__bg {
        background: transparent;
        &::after,
        &::before {
            background: $color-jet;
        }
    }

    span {
       padding: 0.5rem 1rem;
        font-weight: 200;
    }
    &:hover span { color: $color-maize-crayola}
}


// Link
.link {
    color: $color-maize-crayola;
    transition: color 0.3s;

    &:hover {
        color: #f3db97;
    }
}

// Topbar
.topbar {
    height: 10vh;
    padding: 0 $padding-vertical;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .topbar__brand {
        position: relative;
        color: $color-maize-crayola;
        font-size: 1.2rem;
        font-weight: 700;

        &::after {
            width: 100%;
            height: 0.6px;
            top: 100%; left: 0;
            position: absolute;
            content: "";

            background: $color-maize-crayola;

            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease-in-out;
        }

        &:hover{
            &::after {
                width: 20%;
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .topbar__menu {
        display: flex;
        align-items: center;

        a {
            position: relative;
            margin: 0 20px;
            color: $color-alabaster;
            font-weight: 300;
            transition: color 0.3s;

            &:hover { color: $color-maize-crayola; }
        }
    }
}

// Home Page Style
#home {
    height: 90vh;

    display: flex;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: $color-timberwolf;
        margin-bottom: 20px;
    }
    strong {
        font-weight: 700;
        color: $color-maize-crayola;
        margin-right: 4px;
    }
    p { margin-bottom: 20px; }

   .bubble {
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       overflow: hidden;
       position: absolute;
       z-index: -1;

       svg {
           width: 800px;
           z-index: -1;
           bottom: 0;
           right: 0;
           transform: translate(35%, 35%);
           position: absolute;
       }
   }
}

// Imports
@import "form.scss";