{% extends 'password/base.html' %}
{% load static %}

{% block content %}
    <section id="dashboard">
        {% if passwords %}
            <h1>Your password</h1>
            {% for password in passwords %}
                <div class="password__item">
                    <a class="password__sitename" href="{% url 'password:detail' password.owner password.id %}">{{ password.site_name }}</a>
                    <div class="password__right">
                        <a href="#" class="button__rounded" onclick="copyPassword('{{ password.site_name }}')" id="button{{ password.site_name }}">
                            <div class="button__bg"></div>
                            <span>Copy Password</span>
                        </a>
                        <textarea id="input{{ password.site_name }}">{{ password.password }}</textarea>

                        <div class="password__menu">
                            <a href="{% url 'password:update' password.owner password.id %}" class="menu__update"><i class="fas fa-pen"></i></a>
                            <a href="{% url 'password:delete' password.owner password.id %}" class="menu__delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="no-dashboard">
                <img src="{% static 'password/images/empty-box.svg' %}">
                <h1>No password found</h1>
                <a href="{% url 'password:create' %}" class="button__primary">
                    <div class="button__bg"></div>
                    <span>Create Password</span>
                </a>
            </div>
        {% endif %}
    </section>
{% endblock content %}