{% extends 'password/base.html' %}

{% block content %}
    <section id="detail">
        {% if object.image_url %}
            <a href="{{ object.image_url }}"><img src="{{ object.image_url }}"></a>
        {% endif %}
        <h1>{{ object.site_name }}</h1>
        {% if object.email %}
            <p>Email - {{ object.email }}</p>
        {% endif %}
        <p>Password - {{ object.password }}</p>
        <div class="form__submit two__button">
            <a href="{% url 'password:delete' object.owner object.id %}" class="button__danger">
                <div class="button__bg"></div>
                <span>Delete</span>
            </a>
            <a href="{% url 'password:update' object.owner object.id %}" class="button__primary">
                <div class="button__bg"></div>
                <span>Update</span>
            </a>
        </div>
    </section>
{% endblock content %}