{% extends 'password/base.html' %}

{% block content %}
    <div class="form__container">
        <form method="POST">
            {% csrf_token %}
            <h1 style="text-align: center">Are you sure to <br>delete {{ object.site_name }} password ?</h1>

            <span class="form__submit two__button">
                <button class="button__danger" type="submit">
                    <div class="button__bg"></div>
                    <span>Delete</span>
                </button>
                <a href="{% url 'password:dashboard' object.owner %}" class="button__form">
                    <div class="button__bg"></div>
                    <span>Cancel</span>
                </a>
            </span>
        </form>
    </div>
{% endblock content %}