::-webkit-scrollbar {
  padding: 0;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242423;
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: #333533;
}

::selection {
  background: #454545;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #242423;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(232, 237, 223, 0.8);
  font-weight: 200;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #CFDBD5;
  font-weight: 700;
}

small {
  display: block;
  text-align: center;
  color: #242423;
  font-size: 14px;
}

.container {
  height: 90vh;
  position: relative;
  padding: 20px 14%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mt-2 {
  margin-top: 10px;
}

.button__form, .button__small, .button__clipboard, .button__danger, .button__rounded, .button__primary {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  pointer-events: auto;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border-radius: 5px;
}
.button__form .button__bg, .button__small .button__bg, .button__clipboard .button__bg, .button__danger .button__bg, .button__rounded .button__bg, .button__primary .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.button__form .button__bg::before, .button__small .button__bg::before, .button__clipboard .button__bg::before, .button__danger .button__bg::before, .button__rounded .button__bg::before, .button__primary .button__bg::before, .button__form .button__bg::after, .button__small .button__bg::after, .button__clipboard .button__bg::after, .button__danger .button__bg::after, .button__rounded .button__bg::after, .button__primary .button__bg::after {
  content: "";
  position: absolute;
}
.button__form .button__bg::before, .button__small .button__bg::before, .button__clipboard .button__bg::before, .button__danger .button__bg::before, .button__rounded .button__bg::before, .button__primary .button__bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}
.button__form .button__bg::after, .button__small .button__bg::after, .button__clipboard .button__bg::after, .button__danger .button__bg::after, .button__rounded .button__bg::after, .button__primary .button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.button__form:hover .button__bg::before, .button__small:hover .button__bg::before, .button__clipboard:hover .button__bg::before, .button__danger:hover .button__bg::before, .button__rounded:hover .button__bg::before, .button__primary:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.button__form:hover .button__bg::after, .button__small:hover .button__bg::after, .button__clipboard:hover .button__bg::after, .button__danger:hover .button__bg::after, .button__rounded:hover .button__bg::after, .button__primary:hover .button__bg::after {
  opacity: 1;
  transition-duration: 0.01s;
  transition-delay: 0.3s;
}
.button__form span, .button__small span, .button__clipboard span, .button__danger span, .button__rounded span, .button__primary span {
  position: relative;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  transition: color 0.3s;
}
.button__form i, .button__small i, .button__clipboard i, .button__danger i, .button__rounded i, .button__primary i {
  margin-left: 10px;
}
.is_copy.button__form span, .is_copy.button__small span, .is_copy.button__clipboard span, .is_copy.button__danger span, .is_copy.button__rounded span, .is_copy.button__primary span {
  color: #57cc99 !important;
}

.button__primary {
  color: #CFDBD5;
  border: 1px solid #333533;
}
.button__primary .button__bg {
  background: transparent;
}
.button__primary .button__bg::after, .button__primary .button__bg::before {
  background: #333533;
}
.button__primary:hover span {
  color: #F5CB5C;
}

.button__rounded {
  color: #CFDBD5;
  border: 1px solid #242423;
  border-radius: 99px;
}
.button__rounded .button__bg {
  background: transparent;
}
.button__rounded .button__bg::after, .button__rounded .button__bg::before {
  background: #242423;
}
.button__rounded:hover span {
  color: #F5CB5C;
}

.button__danger {
  width: 100%;
  color: #F25C54;
  border: 1px solid #F25C54;
}
.button__danger .button__bg {
  background: transparent;
}
.button__danger .button__bg::after, .button__danger .button__bg::before {
  background: #F25C54;
}
.button__danger span {
  display: block;
}
.button__danger:hover span {
  color: #242423;
}

.button__clipboard {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #CFDBD5;
  border: 1px solid #242423;
}
.button__clipboard .button__bg {
  background: transparent;
}
.button__clipboard .button__bg::after, .button__clipboard .button__bg::before {
  background: #242423;
}
.button__clipboard span {
  padding: 0.8rem 1rem;
}
.button__clipboard span i {
  margin: 0;
}
.button__clipboard:hover span {
  color: #F5CB5C;
}

.button__small {
  color: #CFDBD5;
  border: 1px solid #333533;
}
.button__small .button__bg {
  background: transparent;
}
.button__small .button__bg::after, .button__small .button__bg::before {
  background: #333533;
}
.button__small span {
  padding: 0.5rem 1rem;
  font-weight: 200;
}
.button__small:hover span {
  color: #F5CB5C;
}

.link {
  position: relative;
  color: #F5CB5C;
  transition: color 0.3s;
}
.link::after {
  width: 100%;
  height: 0.6px;
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  background: #F5CB5C;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.link:hover {
  color: #f3db97;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.topbar {
  height: 10vh;
  padding: 0 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .topbar__brand {
  position: relative;
  color: #F5CB5C;
  font-size: 1.2rem;
  font-weight: 700;
}
.topbar .topbar__brand::after {
  width: 100%;
  height: 0.6px;
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  background: #F5CB5C;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.topbar .topbar__brand:hover::after {
  width: 20%;
  transform: scaleX(1);
  transform-origin: left;
}
.topbar .topbar__menu {
  display: flex;
  align-items: center;
}
.topbar .topbar__menu a {
  margin-left: 40px;
  position: relative;
  color: #E8EDDF;
  font-weight: 300;
  transition: color 0.3s;
}
.topbar .topbar__menu a:hover {
  color: #F5CB5C;
}
.topbar .topbar__menu .user__dropdown {
  position: relative;
}
.topbar .topbar__menu .user__dropdown > a {
  margin: 0 40px;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}
.topbar .topbar__menu .user__dropdown > a:hover {
  box-shadow: 0 0 3px 3px #333533;
}
.topbar .topbar__menu .user__dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 99px;
}
.topbar .topbar__menu .user__dropdown .dropdown {
  width: auto;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 2px 4px 2px rgba(36, 36, 35, 0.6);
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 2rem;
  transform: translateY(-10%);
  transition: opacity 0.3s ease-out, transform 0.3s;
  pointer-events: none;
}
.topbar .topbar__menu .user__dropdown .dropdown a {
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333533;
  transition: background-color 0.3s;
}
.topbar .topbar__menu .user__dropdown .dropdown a:hover {
  background: #242423;
}
.topbar .topbar__menu .user__dropdown .dropdown a span {
  padding: 0.8rem 1rem;
}
.topbar .topbar__menu .user__dropdown .dropdown a i {
  height: 100%;
  padding: 0.8rem 1rem 1rem 1rem;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}
.topbar .topbar__menu .user__dropdown:focus-within .dropdown {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: auto;
}
.topbar .topbar__toggle {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 105;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.topbar .topbar__toggle span,
.topbar .topbar__toggle span::after,
.topbar .topbar__toggle span::before {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  background: #E8EDDF;
}
.topbar .topbar__toggle span::before {
  transform: translateY(-12px);
}
.topbar .topbar__toggle span::after {
  transform: translateY(12px);
}

#home {
  height: 90vh;
  padding: 0 14%;
  display: flex;
  align-items: center;
}
#home h1 {
  max-width: 700px;
  font-size: 3rem;
  text-align: left;
  color: #CFDBD5;
  margin-bottom: 20px;
}
#home strong {
  font-weight: 700;
  color: #F5CB5C;
  margin-right: 4px;
}
#home p {
  margin-bottom: 20px;
}
#home .bubble {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#home .bubble svg {
  width: 800px;
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
  position: absolute;
}

#profile {
  height: 90vh;
  padding: 20px 14%;
}
#profile .profile__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#profile .profile__info .profile__picture {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}
#profile .profile__info img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#profile .form__container {
  display: block;
  height: auto;
  margin-top: 20px;
}
#profile form {
  width: 100%;
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}
#profile form .field {
  margin: 0;
}
#profile form .field #text {
  display: none;
}
#profile form .form__submit {
  padding: 0;
  margin: 0;
}
#profile form .form__submit::after, #profile form .form__submit::before {
  content: none;
}

#dashboard {
  min-height: 90vh;
  padding: 20px 14%;
}
#dashboard .dashboard__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}
#dashboard .dashboard__top .field {
  width: 100%;
  margin: 40px 0;
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#dashboard .dashboard__top .field::before {
  width: 80%;
  height: 1px;
  content: "";
  position: absolute;
  top: 0;
  background: #333533;
}
#dashboard .dashboard__top .field::after {
  width: 80%;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  background: #333533;
}
#dashboard .dashboard__top .field input {
  width: 50%;
  text-align: center;
}
#dashboard p {
  text-align: center;
  display: block;
}
#dashboard .password__item {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  position: relative;
  background: #333533;
  border-radius: 99px;
  box-shadow: 0 4px 4px 2px #242423;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dashboard .password__item .password__sitename {
  color: #E8EDDF;
}
#dashboard .password__item .password__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dashboard .password__item .password__menu {
  display: flex;
}
#dashboard .password__item .password__menu .menu__delete,
#dashboard .password__item .password__menu .menu__update {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  color: #E8EDDF;
  font-size: 20px;
  background: transparent;
  transition: background 0.3s, transform 0.3s;
}
#dashboard .password__item .password__menu .menu__delete:hover {
  background: #f25c54;
  transform: scale(1.1) translateZ(0);
}
#dashboard .password__item .password__menu .menu__update:hover {
  background: #00b4d8;
  transform: scale(1.1) translateZ(0);
}
#dashboard .password__item textarea {
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

#no-dashboard {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#no-dashboard img {
  width: 300px;
  filter: grayscale(100%);
  margin-bottom: 20px;
}
#no-dashboard h1 {
  margin-bottom: 20px;
}

#detail {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 14%;
}
#detail img {
  width: 200px;
  margin-bottom: 20px;
}

#privacy-policy {
  min-height: 90vh;
  padding: 20px 30%;
}
#privacy-policy h1 {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  padding: 20px 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p {
  margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  small {
    color: #333533;
  }

  .topbar .topbar__menu {
    width: 100%;
    padding: 20px 0;
    top: 5vh;
    left: 0;
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #242423;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  .topbar .topbar__menu.is-visible {
    transform: translateY(5vh);
    opacity: 1;
  }
  .topbar .topbar__menu.is-visible a {
    pointer-events: auto;
  }
  .topbar .topbar__menu a {
    margin-left: 0;
    margin-bottom: 20px;
    display: block;
    pointer-events: none;
  }
  .topbar .topbar__toggle {
    display: flex;
  }

  #home h1 {
    font-size: 2rem;
    max-width: 500px;
  }
}
@media only screen and (max-width: 750px) {
  #dashboard .password__item {
    display: flex;
    flex-direction: column;
  }
  #dashboard .password__item .password__sitename {
    margin-bottom: 20px;
  }
  #dashboard .password__item .password__right {
    display: flex;
    flex-direction: column;
  }
  #dashboard .password__item .password__menu {
    margin-top: 20px;
  }
  #dashboard .password__item .password__menu a {
    margin: 0 5px 0 5px !important;
  }
}
@media only screen and (max-width: 900px) {
  .bubble {
    display: none;
  }

  #profile form {
    display: flex;
    flex-direction: column;
  }
}
.form__container {
  width: 100%;
  height: 90vh;
  padding: 20px 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  min-width: 40%;
  padding: 20px 60px;
  background: #333533;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.form__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #CFDBD5;
  text-transform: uppercase;
}

.field {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.field input[type=text],
.field input[type=email],
.field input[type=password],
.field input[type=search] {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  background: #333533;
  border: 1px solid #242423;
  border-radius: 5px;
  color: #F5CB5C;
  font-size: 16px;
  transition: border 0.3s;
}
.field input[type=text]:hover,
.field input[type=email]:hover,
.field input[type=password]:hover,
.field input[type=search]:hover {
  border: 1px solid #f3db97;
}
.field input[type=text]:focus,
.field input[type=email]:focus,
.field input[type=password]:focus,
.field input[type=search]:focus {
  border: 1px solid #F5CB5C;
}
.field input[type=text]:focus:invalid,
.field input[type=email]:focus:invalid,
.field input[type=password]:focus:invalid,
.field input[type=search]:focus:invalid {
  border: 1px solid #f25c54;
}
.field input[type=file] {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #242423;
  border-radius: 5px;
  cursor: pointer;
  color: #242423;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: border 0.3s;
}
.field input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}
.field input[type=file]:hover {
  border: 1px solid #f3db97;
}
.field label {
  position: absolute;
  top: 0;
  left: 2rem;
  padding: 0 8px;
  color: #242423;
  font-weight: 200;
  background: #333533;
  border-radius: 99px;
  transform: translate(0, -50%);
  transition: color 0.3s;
}
.field label::after {
  margin-left: 5px;
  content: "*";
  font-size: 14px;
  color: #242423;
}
.field:hover label {
  color: #f3db97;
}

.checkbox {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.checkbox label {
  color: #242423;
}

.field.not-required label::after {
  content: none;
}

.form__submit {
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
}
.form__submit::before {
  width: 80%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
  background: #242423;
}

.two__button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.form__footer {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.form__footer::before {
  width: 80%;
  height: 1px;
  top: 0;
  position: absolute;
  content: "";
  background: #242423;
}

.button__form {
  width: 100%;
  color: #242423;
  border: 1px solid #242423;
}
.button__form .button__bg {
  background: transparent;
}
.button__form .button__bg::after, .button__form .button__bg::before {
  background: #242423;
}
.button__form span {
  display: block;
}
.button__form:hover span {
  color: #F5CB5C;
}

.errorlist {
  margin-top: 10px;
  color: #f25c54;
  font-size: 14px;
  font-weight: 300;
}

.generator .number {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.generator .number label {
  color: #242423;
}
.generator .number input {
  padding: 0.4rem 1rem;
  outline: none;
  background: #333533;
  border: 1px solid #242423;
  border-radius: 5px;
  text-align: center;
  color: #F5CB5C;
  font-size: 16px;
  transition: border 0.3s;
}
.generator .number input:hover {
  border: 1px solid #f3db97;
}
.generator .number input:focus {
  border: 1px solid #F5CB5C;
}
.generator .number input:focus:invalid {
  border: 1px solid #f25c54;
}
.generator .number input::-webkit-outer-spin-button, .generator .number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .form__container {
    display: block;
  }
  .form__container form {
    padding: 0;
    background: #242423;
    border-radius: 0;
  }
  .form__container .form__submit::before,
.form__container .form__footer::before {
    background: #333533;
  }
  .form__container .button__form {
    color: #E8EDDF;
    border: 1px solid #333533;
  }
  .form__container .button__form .button__bg {
    background: transparent;
  }
  .form__container .button__form .button__bg::after, .form__container .button__form .button__bg::before {
    background: #333533;
  }
  .form__container .button__form:hover span {
    color: #F5CB5C;
  }
}
.notification {
  padding: 20px 40px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 100;
  border-radius: 5px;
  transform: translateX(110%);
  animation: toPage 0.3s forwards, exitPage 0.3s 4s forwards;
  transition: transform 0.3s;
}
.notification span {
  color: #242423;
  font-weight: 500;
}

.mes-success {
  background: linear-gradient(300deg, #57cc99 0%, #80ed99 100%);
}

@keyframes toPage {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes exitPage {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
