body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #242423;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(232, 237, 223, 0.8);
  font-weight: 200;
}

.container {
  height: auto;
  position: relative;
  padding: 0 14%;
}

.button {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  pointer-events: auto;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: #CFDBD5;
  background: none;
  border: 1px solid #333533;
  border-radius: 5px;
}
.button .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: inherit;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.button .button__bg::before, .button .button__bg::after {
  content: "";
  position: absolute;
  background: #333533;
}
.button .button__bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}
.button .button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.button:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.button:hover .button__bg::after {
  opacity: 1;
  transition-duration: 0.01s;
  transition-delay: 0.3s;
}
.button span {
  position: relative;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  color: #CFDBD5;
  transition: color 0.3s;
}
.button:hover span {
  color: #F5CB5C;
}

.button__small span {
  padding: 0.5rem 1rem;
  font-weight: 200;
}

.topbar {
  height: 10vh;
  padding: 0 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .topbar__brand {
  position: relative;
  color: #F5CB5C;
  font-size: 1.2rem;
  font-weight: 700;
}
.topbar .topbar__brand::after {
  width: 100%;
  height: 0.6px;
  top: 100%;
  left: 0;
  position: absolute;
  content: "";
  background: #F5CB5C;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.topbar .topbar__brand:hover::after {
  width: 20%;
  transform: scaleX(1);
  transform-origin: left;
}
.topbar .topbar__menu {
  display: flex;
  align-items: center;
}
.topbar .topbar__menu a {
  position: relative;
  margin: 0 40px;
  color: #E8EDDF;
  font-weight: 300;
  transition: color 0.3s;
}
.topbar .topbar__menu a:hover {
  color: #F5CB5C;
}

#home {
  height: 90vh;
  display: flex;
  align-items: center;
}
#home h1 {
  font-size: 3rem;
  color: #CFDBD5;
  margin-bottom: 20px;
}
#home strong {
  font-weight: 700;
  color: #F5CB5C;
  margin-right: 4px;
}
#home p {
  margin-bottom: 20px;
}
#home i {
  margin-left: 10px;
}
#home .bubble {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#home .bubble svg {
  width: 800px;
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(35%, 35%);
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
